* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aqua;
  

  
}

.container {
  margin: auto;
  width: 90%;
  max-width: 100%;
}
.aplly_box {
  max-width: 600px;
  padding: 20px;
  /* background-color: azure; */
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  /* box-shadow: 4px 3px 5px rgba(1, 1, 1, 01); */
  border-radius: 10px;
}
.title_small {
  font-size: 20px;
}
body{
  background-image: url(./word-jobs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.form_container {
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.form_control {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
  color:#000;
  font-weight:bolder;
}

input,
select,
textarea {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
}

.input:focus {
  outline-color: red;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
button {
  background-color: red;
  border: transparent solid 2px;
  padding: 5px 10px;
  color: white;
  border-radius: 8px;
  transition: 0.3s ease-in;
}

button:hover {
  background-color: #ccc;
  border: 2px solid red;
  color: black;
  transition: 0.3s ease-out;
}

.textarea_control {
  grid-column: 1 / span 2;
}

.textarea_control textarea {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .textarea_control {
    grid-column: 1 / span 1;
  }
  .aplly_box{
    margin: 50px 0px;
  }
  .form_container{
    grid-template-columns: repeat(1, 1fr);
  }
}
